/**********************************************************
  PCHT basic CSS stylesheet

  VERSION 1
*/

/**********************************************************
 font-face
 */
@font-face {
    font-family: 'GraublauWebRegular';
    src: url('fonts/graublauweb-webfont.woff') format('woff'),
	     url('fonts/graublauweb-webfont.ttf') format('truetype'),
	     url('fonts/graublauweb-webfont.svg#webfont1OpJtlVt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/DroidSans-webfont.woff') format('woff'),
         url('fonts/DroidSans-webfont.ttf') format('truetype'),
         url('fonts/DroidSans-webfont.svg#webfont6rGBoMAO') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**********************************************************
 HTML tags
 */
html { 
    margin: 0px; padding: 0px; background-color: white; 
}
body { 
    margin: 0; padding: 0px; background-color: #f7f7f7; 
    font-family: 'Droid Sans', 'Trebuchet MS', sans-serif;
    text-shadow: 0px 1px 1px white;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px; padding: 10px; 
    font-family: GraublauWebRegular, Helvetica, 'Liberation Sans', Arial, sans-serif;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .31), 0px 1px 1px white, 1px 1px 1px rgba(0, 0, 0, .31);
}

h1 {
    font 24px/20px GraublauWebRegular, Helvetica, 'Liberation Sans', Arial, sans-serif;
    padding:0; margin:0;
    text-transform:capitalize;
    /*
    text-align: center;
    */

}
p {
    margin: 0px; padding: 10px; 
    font-family: 'Droid Sans', 'Trebuchet MS', sans-serif;
}
a {
    color: rgba(25,25,255,.75);
    font-weight: bold;
}
a.ext {
    color: rgba(25,25,255,.5);
    text-decoration: none;
}
a.email {
    color: #555;
    font-family: 'Droid Sans', 'Trebuchet MS', sans-serif;
}
a:hover {
    text-decoration: underline;
}

ul {
    list-style-type:none;
    list-style-position:inside;
}

li {

}

li a {
    padding:0;
    /*border: */
}
dt {
    font-weight: bold;
    /*font-family: monospace;*/
}

pre {
    font-stretch:narrower;
    /*white-space:pre;*/
    background-color: white;
    border-left: 1px solid #444;
}
button {
    font-size: 12px;
    font-stretch:narrower;
}

/**********************************************************
 classes 
 */
.box {
    padding: 2px 15px 20px 15px;
    margin-top: 20px;
}
.shadow {
    margin: 0px 20px 30px 0px;
    border: 1px #444 solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}
.separator {
    border-bottom: 2px solid #F0F0F0;
    height: 3px;
    margin: 0px; padding: 0px; 
}
.warning {
    font: 16px Arial,sans-serif;
    color: red;
    background: rgba(200,200,200,.5);
}
.cliquable {
    cursor:pointer;
}
.cliquable:hover {
    text-decoration:underline;
}
.hide {
    display: none; 
}
.term {
    font: 10/12px "VT-100",Terminal,monospace;
    font-weight: bold;
    white-space:pre;
    background-color: white;
    color: green;
}
.widget_ok {
    background-color: green;
}
.widget_notok {
    background-color: red;
}
.server {
    float: left;
}
.noserver {
    clear: left;
}
.nfs {
    color: #0a0;
}
.ldap {
    color: #a00;
}



/**********************************************************
 title 
 */
#top-container {
    width: 100%;height: 80px;
    background-image: url(black.png);
    background: #444;
}
#top-center {
    width: 1000px;
    margin: 0px auto;
}
#top {
    /*border: 1px red solid;*/
    width: 212px;height:60px;
    float:left;
    background-image: url(/static/logo.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    margin: 10px 20px 0; padding: 0;
    cursor:pointer;
}
#top-content {
    font: 40px/60px GraublauWebRegular, Helvetica, 'Liberation Sans', Arial, sans-serif;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .31), 0px 1px 1px white, 1px 1px 1px rgba(0, 0, 0, .31);
    color: rgba(25,25,255,.5);
    
}
/**********************************************************
 content 
 */
#content-container {
    width: 1000px;
    margin: 0px auto;
    background-image: url(/static/WIP.png);
    background-repeat: repeat-y;
}
#content-center {
    margin: 0;padding: 0 20px;
}
#warning-empty {
    margin: 0 0 20px 0;
}
#warning {
    padding: 10px;
    /*
    margin: 0 0 0 192px;
    margin: 0 0 20px 0;
    */
    font: 16px Arial,sans-serif;
    color: red;
    background: rgba(200,200,200,.5);

    border: 1px inset #444;
    border-top:0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -moz-border-radius-bottomright: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

/**********************************************************
 navigation bar
 */
.nav {
    font: 16px/10px Helvetica, 'Liberation Sans', Arial, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
}
#nav { 
    width:160px;float:left;
    font: 16px/10px Helvetica, 'Liberation Sans', Arial, sans-serif;
    font-variant: small-caps;
    border-left: 2px solid #F0F0F0;
    margin-top:20px;
    /*
    margin: 0 0 10px; padding: 10px 0 0;
    border-bottom: 2px solid #F0F0F0;
    background-color: #eee;
    font: 10px/16px 'lucida grande', tahoma, verdana, arial, sans-serif;
    color: #555;
    */
}
#nav a {
    text-decoration: none;
    margin: 0; padding: 0; 
}
#nav ul {
    margin: 0; padding: 0; 
}
#nav li {
    margin: 0; 
    list-style-type:none;
}
#nav li a {
    display:block;
    color: rgba(25,25,255,.5);
    padding:5px 10px 5px 10px;
}
#nav li a:hover {
    color: rgba(255,255,255,1);
    background: rgba(25,25,255,.5);
}
#nav li.nav-here {
    color: rgba(0,0,0,.75);
    background: rgba(200,200,200,.5);
    font-weight: bold;
    padding:5px 10px 5px 10px;

}
#nav li.nav-title {
    border-top: 2px solid #F0F0F0;
    color: rgba(0,0,0,.5);
    font-weight: bold;
    padding:5px 10px 5px 0px;
}

/*
#nav ul, #nav ol {
    list-style: none;
}
#nav li { 
    display: inline;
    float: left; 
}
#nav li + li:before { content:" | ";}
*/
/**********************************************************
 The place to BE 
*/
#content {
    width:768px;float:left;
    /*margin-top: 20px;*/
    font: 13px/22px 'Droid Sans', 'Trebuchet MS', sans-serif;
    text-shadow: none;
}

#content-text {
    margin-top: 10px;
}

#content h1 {
    /*color: #444;*/
    background: rgba(200,200,200,.5);
    position: relative;
    top: -7px; 
    margin:0; padding:3px 10px;
}
#content h1, #content h2, #content h3 {
    clear: left;
}

#content div#fiche th {
    font-family: monospace;
    text-align:left;
}
#content div#fiche input {
    font-family: monospace;
}
#content ul {
    margin: 0; padding: 0; 
    list-style-type:none;
}
#content li {
    margin: 0; padding: 0; 
}
#content a {
    text-decoration: none;
    margin: 0; padding: 0; 
}
#content a:hover {
    text-decoration: underline;
    margin: 0; padding: 0; 
}
#content a.server {
    text-decoration:none;
    display:block;
    /*
    color: rgba(25,25,255,.5);
    */
    background: rgba(255,255,2555,.5);
    margin: 5px; padding:5px;
    font-variant:small-caps;
    font-size:larger;
    border: 3px outset #aaa;
}
#content a.server:hover {
    text-decoration:none;
    /*
    color: #000;
    */
    background: #fff;
    border: 3px inset #aaa;
}
/**********************************************************
 table sortable with JQuery and plugin tablesorter 
 http://tablesorter.com/docs/#Examples
*/
#content th.headerSortUp {
    background-image: url(/static/arrowu.gif);
    background-color: rgba(200, 200, 200, .5);
}

#content th.headerSortDown { 
    background-image: url(/static/arrowd.gif); 
    background-color: rgba(200, 200, 200, .5); 
} 

#content th.header { 
    background-image: url(/static/arrowud.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
    border-right: 1px solid #dad9c7; 
    margin-left: -1px; 
}

/**********************************************************
 onglets top classes
 http://babylon-design.com/apprendre-et-comprendre-jquery-2-3/
*/
#onglets ul {
     /*float:left;*/
     margin:0;
     padding:0
}
#onglets li {
    float:left;
    margin-bottom:-1px;
    padding: 0;
    list-style-type:none;

}
#onglets li a {
    text-decoration:none;
    display: block;
    padding: 5px;

    background-color: #eee;
    border:1px solid #000;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
}
#onglets li a.actif {
    border-bottom-color:#FFF;
    background-color: #FFF;
}
#onglets li a:hover {
    background: rgba(25,25,255,.5);
    color: rgba(255,255,255,1);
}
#onglets .onglet {
     border-top:1px solid #000;
     clear:both;
     padding-top:15px;
     zoom:1; /* ie */
}
/*
#onglets dl {
    float : none;
}
#onglets dt {
    margin-right: 5px;
    float: left;
}
#onglets dd {
    float: left;
    padding: 0 5px; 
    margin: 0;
}
#onglets dt:after {
    content: ':';
}
#onglets dt + dd {
    margin-right: 5px;
}
#onglets dd + dd {
    border-left: 3px solid red;
}
#onglets dd + dt {
    clear: left;
    float : none;
}
*/
/**********************************************************
 boring (c) stuffs
*/
#bottom { 
    clear:both;
    background-color: #eee;
    font: 10px/16px 'lucida grande', tahoma, verdana, arial, sans-serif;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, .31), 0px 1px 1px white, 1px 1px 1px rgba(0, 0, 0, .31);
    color: #555;
    margin: 10px 0 0; padding: 0 50px 10px;
    border-top: 2px solid #111;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}
#bottom-clear {
    background-color: black;
    cursor: pointer;
    left: 0; bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 100000;
}


/**********************************************************
 jquery UI autocomplete css
*/
.ui-autocomplete-loading { 
    background: white url('/static/jquery-ui/images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.ui-menu {
    font: 13px/22px 'Droid Sans', 'Trebuchet MS', sans-serif;
}


/**********************************************************
 raphael graph
*/
#pie svg {
    background-color: white;
    border: 1px solid;
}
